body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*
    This section styles the header section
*/

header{
    background-color: #1f2937;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    gap: 100px;
}

.headerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.headerLinks .logo{
    font-size: 24px;
    color: #f9faf8;
}

.headerLinks ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.headerLinks ul a{
    text-decoration: none;
}

.headerLinks ul a, .heroContent p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.heroContent{
    width: 50%;
}

.heroContent .heading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.heroContent button{
    background-color: #3882f6;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
}

.heroImage{
    box-sizing: border-box;
    padding: 50px;
    width: 50%;
    background-color: #5f626a;
    color: white;
}


/* 
    This section styles the info section
*/

.info{
    padding: 50px 200px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.info .heading{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info .cards{
    display: flex;
    gap: 50px;
}

.info .cards .card{
    width: 200px;
}
.info .cards .cardImage{
    border: 4px solid #3882f6;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.info .cards p{
    text-align: center;
    color: #5b5b5f;
}

.info .cards .cardTitle{
    font-weight: bold;
    display: block;
    font-size: 1.1em;
}

/* 
    This section styles the testimonial section
*/

.testimonial{
    background-color: #e5e7eb;
    padding: 80px 200px;
}

.testimonial blockquote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.testimonial blockquote .footer{
    font-weight: bold;
    float: right;
    font-size: 1.3em;
    
}

/* 
    This section styles the call to action section
*/

.cta{
    padding: 100px 100px;
}

.ctaContainer{
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    border-radius: 10px;
}

.cta .content p{
    width: 70%;
    color: #eaede9;
;
}

.cta .content p span{
    color: white;
    display: block;
    font-weight: bold;
    font-size: 1.1em;
}
.cta button{
    box-sizing: border-box;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    width: 100px;
}

/* 
    This section styles the footer
*/

body footer{
    background-color: #1f2937;
    padding: 25px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}